## Title: Artificial Dataset generator. Test different datasets
### Dataset Specification:
* The Dataset contains 1200 rows (observations) and 10 columns (variables)
* Detailed description of the variables:


| Variable Name     | Description                            | Format         | Min Value     | Max Value  | Missings | Notes                                                                                                                                                                             |
|-------------------|----------------------------------------|----------------|---------------|------------|----------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| Date              | Months of observations                 | Date Type      | 1/1/2016      | 12/1/2016  | 0%       | Only the first day of each month                                                                                                                                                  |
| CompanyID         | Company's ID in the system             | Integer        | 0             | 100        | 0%       |                                                                                                                                                                                   |
| Revenue           | Monthly Company's Revenue              | Float, Decimal | 0             | 999,999.99 | 1%       | The missings are referred to the number of observations                                                                                                                           |
| Expenses          | Monthly Company's Expenses             | Float, Decimal | 0             | 500,000.00 | 1%       | The missings are referred to the number of observations                                                                                                                           |
| Profit            | Monthly Company's Profit               | Float, Decimal |               |            | 1%       | Profit = Revenue - Expenses. The missings are referred to the number of observations                                                                                              |
| LossFlag          | Monthly balance check                  | Binary         | 0             | 1          | 1%       | 0 = the company has profit, 1 = the company has negative balance. The missings are referred to the number of observations                                                         |
| Employees         | Number of employees in the company     | Integer        | 10            | 1000       | 0%       | Each company has a standard number of employees the whole year                                                                                                                    |
| Region            | Company's geographical location        | Categorical    | A, B, C, D, E |            | 0%       | The proportions of each Region are: A=25%, B=20%, C=10%, D=5%, E=40%                                                                                                              |
| BusinessValuation | Company's Market Value                 | Float, Decimal |               |            | 0%       | This value changes monthly and is equal to 3% till 10% of each company's profit                                                                                                   |
| ClosedFlag        | The company is no longer in the market | Binary         | 0             | 1          |          | 0 = No, 1 = Yes. The proportions of the "1" are: 10% of the companies than have more than 3 months negative balance and 0.5% of those with negative balance for 2 or less months. |

In [1]:
import pandas as pd
import numpy as np
import random
import itertools
# You need the line below only if you have problem with 'display' method in notebook
# from IPython.display import display

### Alex's dataset

In [2]:
# load dataset from .csv
final_df_Alex = pd.read_csv('financial_artificial_dataset_AK.csv')

In [3]:
# convert CloseFlag to int, thus can see stat on it
final_df_Alex['CloseFlag'] = final_df_Alex['CloseFlag'].astype('int')
display(final_df_Alex.dtypes)
display(final_df_Alex.describe())
print('\nNaN STATISTICS')
display(final_df_Alex.isna().sum())
q_str = 'CompanyID == 26 | CompanyID == 51 | CompanyID == 44 | CompanyID == 58 | CompanyID == 69'
display(final_df_Alex.query(q_str).sort_values(['CompanyID', 'Date']))

Date                  object
CompanyID              int64
Employees              int64
Revenue              float64
Expenses             float64
Profit               float64
LossFlag             float64
Region                object
BusinessValuation    float64
CloseFlag              int64
dtype: object

,CompanyID,Employees,Revenue,Expenses,Profit,LossFlag,BusinessValuation,CloseFlag
count,1200.000000,1200.000000,1155.000000,1154.000000,1154.000000,1154.000000,1166.000000,1200.000000
mean,49.500000,208.270000,425238.138442,223853.518925,201207.182062,0.405546,13114.752487,0.028333
std,28.878105,243.010718,333278.700364,134884.471611,296717.011844,0.491210,20650.726418,0.165993
min,0.000000,10.000000,620.690000,1709.310000,-454431.650000,0.000000,-44686.900000,0.000000
25%,24.750000,47.750000,90465.085000,90465.210000,-34573.602500,0.000000,-2132.360000,0.000000
50%,49.500000,89.500000,343566.640000,231687.630000,174968.470000,0.000000,9317.785000,0.000000
75%,74.250000,286.750000,744273.185000,328642.075000,475166.652500,1.000000,28616.585000,0.000000
max,99.000000,989.000000,999956.030000,499873.510000,940167.100000,1.000000,78344.680000,1.000000

NaN STATISTICS

Date                  0
CompanyID             0
Employees             0
Revenue              45
Expenses             46
Profit               46
LossFlag             46
Region                0
BusinessValuation    34
CloseFlag             0
dtype: int64

,Date,CompanyID,Employees,Revenue,Expenses,Profit,LossFlag,Region,BusinessValuation,CloseFlag
0,2016-01-01,26,54,929805.23,274406.75,655398.48,0.0,A,44840.36,0
1,2016-02-01,26,54,945682.01,316877.41,628804.60,0.0,A,50344.14,0
2,2016-03-01,26,54,809434.40,252932.49,556501.91,0.0,A,40175.79,0
3,2016-04-01,26,54,924571.51,307911.34,616660.17,0.0,A,42020.35,0
4,2016-05-01,26,54,676168.26,354345.84,321822.42,0.0,A,19198.59,0
5,2016-06-01,26,54,806109.63,366210.98,439898.65,0.0,A,33085.92,0
6,2016-07-01,26,54,978358.01,371738.10,606619.92,0.0,A,36780.04,0
7,2016-08-01,26,54,849098.38,350149.41,498948.98,0.0,A,46114.92,0
8,2016-09-01,26,54,705606.59,321700.66,383905.93,0.0,A,37414.09,0
9,2016-10-01,26,54,595487.07,305533.43,289953.65,0.0,A,16481.23,0
10,2016-11-01,26,54,793107.83,292477.69,500630.14,0.0,A,42764.20,0
11,2016-12-01,26,54,662538.99,400152.71,262386.28,0.0,A,17585.82,0
1188,2016-01-01,44,874,1142.04,2347.74,-1205.70,1.0,C,-114.49,0
1189,2016-02-01,44,874,1253.18,1709.31,-456.13,1.0,C,-41.36,0
1190,2016-03-01,44,874,1259.69,2456.12,-1196.43,1.0,C,-104.25,0
1191,2016-04-01,44,874,1057.55,2801.55,-1744.00,1.0,C,-163.59,0
1192,2016-05-01,44,874,1290.95,2666.69,-1375.75,1.0,C,-67.88,0
1193,2016-06-01,44,874,1523.86,2368.12,-844.26,1.0,C,-47.17,0
1194,2016-07-01,44,874,1142.23,1928.22,-786.00,1.0,C,-44.48,0
1195,2016-08-01,44,874,1203.30,2442.95,-1239.65,1.0,C,-85.82,0
1196,2016-09-01,44,874,881.58,2653.77,-1772.19,1.0,C,-136.06,0
1197,2016-10-01,44,874,1346.82,3057.57,-1710.74,1.0,C,-85.66,0
1198,2016-11-01,44,874,1233.13,2227.40,-994.27,1.0,C,-31.18,0
1199,2016-12-01,44,874,1169.79,2537.58,-1367.78,1.0,C,-79.26,0
408,2016-01-01,51,59,557179.15,9394.90,547784.25,0.0,E,39995.11,0
409,2016-02-01,51,59,NaN,8213.00,574256.85,0.0,E,18557.24,0
410,2016-03-01,51,59,512867.71,10333.85,502533.86,0.0,E,15625.00,0
411,2016-04-01,51,59,546266.42,11555.24,534711.18,0.0,E,32091.07,0
412,2016-05-01,51,59,615555.65,11219.71,604335.94,0.0,E,21009.85,0
413,2016-06-01,51,59,639124.41,11103.90,628020.51,0.0,E,29916.30,0
414,2016-07-01,51,59,490168.08,12663.67,477504.41,0.0,E,21717.50,0
415,2016-08-01,51,59,506899.73,9031.49,497868.24,0.0,E,23759.96,0
416,2016-09-01,51,59,391138.69,8727.29,382411.40,0.0,E,14980.53,0
417,2016-10-01,51,59,491655.62,9868.86,481786.77,0.0,E,14859.53,0
418,2016-11-01,51,59,635934.65,9704.94,626229.71,0.0,E,23849.27,0
419,2016-12-01,51,59,668315.40,9026.40,659289.00,0.0,E,48321.68,0
1032,2016-01-01,58,228,212341.57,261624.03,-49282.46,1.0,E,-4734.54,0
1033,2016-02-01,58,228,154461.06,227228.29,-72767.23,1.0,E,-7098.06,0
1034,2016-03-01,58,228,153150.07,177057.23,-23907.16,1.0,E,-1921.11,0
1035,2016-04-01,58,228,162791.32,257614.76,-94823.43,1.0,E,-5167.83,0
1036,2016-05-01,58,228,204414.08,167068.09,37345.99,0.0,E,1785.39,0
1037,2016-06-01,58,228,159274.26,279436.58,-120162.32,1.0,E,-5836.43,0
1038,2016-07-01,58,228,NaN,NaN,NaN,NaN,E,NaN,1
1039,2016-08-01,58,228,NaN,NaN,NaN,NaN,E,NaN,1
1040,2016-09-01,58,228,NaN,NaN,NaN,NaN,E,NaN,1
1041,2016-10-01,58,228,NaN,NaN,NaN,NaN,E,NaN,1
1042,2016-11-01,58,228,NaN,NaN,NaN,NaN,E,NaN,1
1043,2016-12-01,58,228,NaN,NaN,NaN,NaN,E,NaN,1
900,2016-01-01,69,485,1760.01,19593.90,-17833.89,1.0,E,-1547.25,0
901,2016-02-01,69,485,1942.32,25078.81,-23136.49,1.0,E,-1258.01,0
902,2016-03-01,69,485,1849.43,22318.22,-20468.78,1.0,E,-917.04,0
903,2016-04-01,69,485,NaN,NaN,NaN,NaN,E,NaN,1
904,2016-05-01,69,485,NaN,NaN,NaN,NaN,E,NaN,1
905,2016-06-01,69,485,NaN,NaN,NaN,NaN,E,NaN,1
906,2016-07-01,69,485,NaN,NaN,NaN,NaN,E,NaN,1
907,2016-08-01,69,485,NaN,NaN,NaN,NaN,E,NaN,1
908,2016-09-01,69,485,NaN,NaN,NaN,NaN,E,NaN,1
909,2016-10-01,69,485,NaN,NaN,NaN,NaN,E,NaN,1
910,2016-11-01,69,485,NaN,NaN,NaN,NaN,E,NaN,1
911,2016-12-01,69,485,NaN,NaN,NaN,NaN,E,NaN,1

In [4]:
# Checking closed flag
display(final_df_Alex[final_df_Alex.CloseFlag == 1.].sort_values(['CompanyID', 'Date']))

,Date,CompanyID,Employees,Revenue,Expenses,Profit,LossFlag,Region,BusinessValuation,CloseFlag
820,2016-05-01,14,158,NaN,NaN,NaN,NaN,D,NaN,1
821,2016-06-01,14,158,NaN,NaN,NaN,NaN,D,NaN,1
822,2016-07-01,14,158,NaN,NaN,NaN,NaN,D,NaN,1
823,2016-08-01,14,158,NaN,NaN,NaN,NaN,D,NaN,1
824,2016-09-01,14,158,NaN,NaN,NaN,NaN,D,NaN,1
825,2016-10-01,14,158,NaN,NaN,NaN,NaN,D,NaN,1
826,2016-11-01,14,158,NaN,NaN,NaN,NaN,D,NaN,1
827,2016-12-01,14,158,NaN,NaN,NaN,NaN,D,NaN,1
1038,2016-07-01,58,228,NaN,NaN,NaN,NaN,E,NaN,1
1039,2016-08-01,58,228,NaN,NaN,NaN,NaN,E,NaN,1
1040,2016-09-01,58,228,NaN,NaN,NaN,NaN,E,NaN,1
1041,2016-10-01,58,228,NaN,NaN,NaN,NaN,E,NaN,1
1042,2016-11-01,58,228,NaN,NaN,NaN,NaN,E,NaN,1
1043,2016-12-01,58,228,NaN,NaN,NaN,NaN,E,NaN,1
1029,2016-10-01,65,148,NaN,NaN,NaN,NaN,A,NaN,1
1030,2016-11-01,65,148,NaN,NaN,NaN,NaN,A,NaN,1
1031,2016-12-01,65,148,NaN,NaN,NaN,NaN,A,NaN,1
748,2016-05-01,66,206,NaN,NaN,NaN,NaN,A,NaN,1
749,2016-06-01,66,206,NaN,NaN,NaN,NaN,A,NaN,1
750,2016-07-01,66,206,NaN,NaN,NaN,NaN,A,NaN,1
751,2016-08-01,66,206,NaN,NaN,NaN,NaN,A,NaN,1
752,2016-09-01,66,206,NaN,NaN,NaN,NaN,A,NaN,1
753,2016-10-01,66,206,NaN,NaN,NaN,NaN,A,NaN,1
754,2016-11-01,66,206,NaN,NaN,NaN,NaN,A,NaN,1
755,2016-12-01,66,206,NaN,NaN,NaN,NaN,A,NaN,1
903,2016-04-01,69,485,NaN,NaN,NaN,NaN,E,NaN,1
904,2016-05-01,69,485,NaN,NaN,NaN,NaN,E,NaN,1
905,2016-06-01,69,485,NaN,NaN,NaN,NaN,E,NaN,1
906,2016-07-01,69,485,NaN,NaN,NaN,NaN,E,NaN,1
907,2016-08-01,69,485,NaN,NaN,NaN,NaN,E,NaN,1
908,2016-09-01,69,485,NaN,NaN,NaN,NaN,E,NaN,1
909,2016-10-01,69,485,NaN,NaN,NaN,NaN,E,NaN,1
910,2016-11-01,69,485,NaN,NaN,NaN,NaN,E,NaN,1
911,2016-12-01,69,485,NaN,NaN,NaN,NaN,E,NaN,1

### Jonathan's dataset

In [5]:
# load dataset from .csv
final_df_Jonathan = pd.read_csv('SDS_Challenge1_Jonathan/Profit_and_Loss_Challenge_Dataset.csv')

In [6]:
display(final_df_Jonathan.dtypes)
display(final_df_Jonathan.describe())
print('\nNaN STATISTICS')
display(final_df_Jonathan.isna().sum())
q_str = 'CompanyID == 27 | CompanyID == 24 | CompanyID == 44 | CompanyID == 58 | CompanyID == 69'
display(final_df_Jonathan.query(q_str).sort_values(['CompanyID', 'Date']))

Date                  object
CompanyID              int64
Revenue              float64
Expenses             float64
Profit               float64
LossFlag             float64
Employees              int64
Region                object
BusinessValuation    float64
ClosedFlag           float64
dtype: object

,CompanyID,Revenue,Expenses,Profit,LossFlag,Employees,BusinessValuation,ClosedFlag
count,1200.000000,1001.000000,1000.000000,999.000000,1001.000000,1200.000000,1011.000000,1200.000000
mean,49.500000,171323.883896,104811.655680,68496.215215,0.390609,462.790000,70075.638971,0.157500
std,28.878105,281115.854729,158117.994031,201721.548460,0.488131,273.296631,154138.762628,0.364423
min,0.000000,10.170000,1.150000,-886634.430000,0.000000,12.000000,-58696.000000,0.000000
25%,24.750000,556.230000,509.097500,-577.095000,0.000000,195.250000,-13.500000,0.000000
50%,49.500000,8749.960000,8499.050000,109.700000,0.000000,471.500000,141.000000,0.000000
75%,74.250000,224124.910000,177288.132500,33263.740000,1.000000,659.000000,56213.500000,0.000000
max,99.000000,999405.640000,987898.380000,823915.370000,1.000000,998.000000,937606.000000,1.000000

NaN STATISTICS

Date                   0
CompanyID              0
Revenue              199
Expenses             200
Profit               201
LossFlag             199
Employees              0
Region                 0
BusinessValuation    189
ClosedFlag             0
dtype: int64

,Date,CompanyID,Revenue,Expenses,Profit,LossFlag,Employees,Region,BusinessValuation,ClosedFlag
24,2016-01-31,24,53.65,46.79,6.86,0.0,85,D,1.0,0.0
124,2016-02-29,24,93.34,32.18,61.16,0.0,85,D,7.0,0.0
224,2016-03-31,24,34.99,47.61,-12.62,1.0,85,D,6.0,0.0
324,2016-04-30,24,94.56,72.13,22.43,0.0,85,D,8.0,0.0
424,2016-05-31,24,83.65,NaN,25.67,0.0,85,D,10.0,0.0
524,2016-06-30,24,98.13,8.83,89.30,0.0,85,D,19.0,0.0
624,2016-07-31,24,79.68,81.71,-2.03,1.0,85,D,21.0,0.0
724,2016-08-31,24,44.21,74.98,-30.77,1.0,85,D,26.0,0.0
824,2016-09-30,24,NaN,NaN,NaN,NaN,85,D,NaN,1.0
924,2016-10-31,24,NaN,NaN,NaN,NaN,85,D,NaN,1.0
1024,2016-11-30,24,NaN,NaN,NaN,NaN,85,D,NaN,1.0
1124,2016-12-31,24,NaN,NaN,NaN,NaN,85,D,NaN,1.0
27,2016-01-31,27,NaN,NaN,NaN,NaN,533,A,NaN,1.0
127,2016-02-29,27,NaN,NaN,NaN,NaN,533,A,NaN,1.0
227,2016-03-31,27,NaN,NaN,NaN,NaN,533,A,NaN,1.0
327,2016-04-30,27,NaN,NaN,NaN,NaN,533,A,NaN,1.0
427,2016-05-31,27,NaN,NaN,NaN,NaN,533,A,NaN,1.0
527,2016-06-30,27,NaN,NaN,NaN,NaN,533,A,NaN,1.0
627,2016-07-31,27,NaN,NaN,NaN,NaN,533,A,NaN,1.0
727,2016-08-31,27,NaN,NaN,NaN,NaN,533,A,NaN,1.0
827,2016-09-30,27,NaN,NaN,NaN,NaN,533,A,NaN,1.0
927,2016-10-31,27,NaN,NaN,NaN,NaN,533,A,NaN,1.0
1027,2016-11-30,27,NaN,NaN,NaN,NaN,533,A,NaN,1.0
1127,2016-12-31,27,NaN,NaN,NaN,NaN,533,A,NaN,1.0
44,2016-01-31,44,9368.23,3402.91,5965.32,0.0,415,B,597.0,0.0
144,2016-02-29,44,9366.56,6982.56,2384.00,0.0,415,B,835.0,0.0
244,2016-03-31,44,9720.90,7558.63,2162.27,0.0,415,B,1051.0,0.0
344,2016-04-30,44,7540.60,8489.90,-949.30,1.0,415,B,1032.0,0.0
444,2016-05-31,44,2168.00,5906.54,-3738.54,1.0,415,B,1206.0,0.0
544,2016-06-30,44,9947.77,8540.44,1407.33,0.0,415,B,1423.0,0.0
644,2016-07-31,44,7454.43,7002.35,452.08,0.0,415,B,1654.0,0.0
744,2016-08-31,44,9423.44,3741.98,5681.46,0.0,415,B,2055.0,0.0
844,2016-09-30,44,1497.53,2106.87,-609.34,1.0,415,B,2437.0,0.0
944,2016-10-31,44,NaN,NaN,NaN,NaN,415,B,NaN,1.0
1044,2016-11-30,44,NaN,NaN,NaN,NaN,415,B,NaN,1.0
1144,2016-12-31,44,NaN,NaN,NaN,NaN,415,B,NaN,1.0
58,2016-01-31,58,150.75,147.19,3.56,0.0,418,A,0.0,0.0
158,2016-02-29,58,816.24,646.64,169.60,0.0,418,A,17.0,0.0
258,2016-03-31,58,183.49,660.08,-476.59,1.0,418,A,-4.0,0.0
358,2016-04-30,58,158.87,40.01,118.86,0.0,418,A,-9.0,0.0
458,2016-05-31,58,877.26,271.39,605.87,0.0,418,A,42.0,0.0
558,2016-06-30,58,688.55,3882.32,-3193.77,1.0,418,A,-80.0,0.0
658,2016-07-31,58,742.42,561.64,180.78,0.0,418,A,-158.0,0.0
758,2016-08-31,58,123.39,789.52,-666.13,1.0,418,A,-255.0,0.0
858,2016-09-30,58,199.27,380.32,-181.05,1.0,418,A,-344.0,0.0
958,2016-10-31,58,567.40,394.38,173.02,0.0,418,A,-327.0,0.0
1058,2016-11-30,58,769.98,266.17,503.81,0.0,418,A,-276.0,0.0
1158,2016-12-31,58,304.30,738.77,-434.47,1.0,418,A,-320.0,0.0
69,2016-01-31,69,907.19,995.19,-88.00,1.0,967,C,-3.0,0.0
169,2016-02-29,69,672.36,123.46,548.90,0.0,967,C,46.0,0.0
269,2016-03-31,69,216.68,509.06,-292.38,1.0,967,C,17.0,0.0
369,2016-04-30,69,212.42,388.62,-176.20,1.0,967,C,16.0,0.0
469,2016-05-31,69,173.67,555.22,-381.55,1.0,967,C,4.0,0.0
569,2016-06-30,69,130.28,724.45,-594.17,1.0,967,C,-25.0,0.0
669,2016-07-31,69,759.11,422.72,336.39,0.0,967,C,-45.0,0.0
769,2016-08-31,69,511.03,75.72,435.31,0.0,967,C,-21.0,0.0
869,2016-09-30,69,743.51,905.97,-162.46,1.0,967,C,-37.0,0.0
969,2016-10-31,69,NaN,760.39,-451.40,1.0,967,C,-83.0,0.0
1069,2016-11-30,69,527.74,454.25,73.49,0.0,967,C,-75.0,0.0
1169,2016-12-31,69,892.05,207.92,684.13,0.0,967,C,-7.0,0.0

In [7]:
# Checking closed flag
display(final_df_Jonathan[final_df_Jonathan.ClosedFlag == 1.].sort_values(['CompanyID', 'Date']))

,Date,CompanyID,Revenue,Expenses,Profit,LossFlag,Employees,Region,BusinessValuation,ClosedFlag
703,2016-08-31,3,NaN,NaN,NaN,NaN,771,B,NaN,1.0
803,2016-09-30,3,NaN,NaN,NaN,NaN,771,B,NaN,1.0
903,2016-10-31,3,NaN,NaN,NaN,NaN,771,B,NaN,1.0
1003,2016-11-30,3,NaN,NaN,NaN,NaN,771,B,NaN,1.0
1103,2016-12-31,3,NaN,NaN,NaN,NaN,771,B,NaN,1.0
909,2016-10-31,9,NaN,NaN,NaN,NaN,511,E,NaN,1.0
1009,2016-11-30,9,NaN,NaN,NaN,NaN,511,E,NaN,1.0
1109,2016-12-31,9,NaN,NaN,NaN,NaN,511,E,NaN,1.0
615,2016-07-31,15,NaN,NaN,NaN,NaN,502,B,NaN,1.0
715,2016-08-31,15,NaN,NaN,NaN,NaN,502,B,NaN,1.0
815,2016-09-30,15,NaN,NaN,NaN,NaN,502,B,NaN,1.0
915,2016-10-31,15,NaN,NaN,NaN,NaN,502,B,NaN,1.0
1015,2016-11-30,15,NaN,NaN,NaN,NaN,502,B,NaN,1.0
1115,2016-12-31,15,NaN,NaN,NaN,NaN,502,B,NaN,1.0
1116,2016-12-31,16,NaN,NaN,NaN,NaN,349,A,NaN,1.0
1018,2016-11-30,18,NaN,NaN,NaN,NaN,12,A,NaN,1.0
1118,2016-12-31,18,NaN,NaN,NaN,NaN,12,A,NaN,1.0
519,2016-06-30,19,NaN,NaN,NaN,NaN,947,C,NaN,1.0
619,2016-07-31,19,NaN,NaN,NaN,NaN,947,C,NaN,1.0
719,2016-08-31,19,NaN,NaN,NaN,NaN,947,C,NaN,1.0
819,2016-09-30,19,NaN,NaN,NaN,NaN,947,C,NaN,1.0
919,2016-10-31,19,NaN,NaN,NaN,NaN,947,C,NaN,1.0
1019,2016-11-30,19,NaN,NaN,NaN,NaN,947,C,NaN,1.0
1119,2016-12-31,19,NaN,NaN,NaN,NaN,947,C,NaN,1.0
923,2016-10-31,23,NaN,NaN,NaN,NaN,222,B,NaN,1.0
1023,2016-11-30,23,NaN,NaN,NaN,NaN,222,B,NaN,1.0
1123,2016-12-31,23,NaN,NaN,NaN,NaN,222,B,NaN,1.0
824,2016-09-30,24,NaN,NaN,NaN,NaN,85,D,NaN,1.0
924,2016-10-31,24,NaN,NaN,NaN,NaN,85,D,NaN,1.0
1024,2016-11-30,24,NaN,NaN,NaN,NaN,85,D,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...
983,2016-10-31,83,NaN,NaN,NaN,NaN,508,B,NaN,1.0
1083,2016-11-30,83,NaN,NaN,NaN,NaN,508,B,NaN,1.0
1183,2016-12-31,83,NaN,NaN,NaN,NaN,508,B,NaN,1.0
784,2016-08-31,84,NaN,NaN,NaN,NaN,630,B,NaN,1.0
884,2016-09-30,84,NaN,NaN,NaN,NaN,630,B,NaN,1.0
984,2016-10-31,84,NaN,NaN,NaN,NaN,630,B,NaN,1.0
1084,2016-11-30,84,NaN,NaN,NaN,NaN,630,B,NaN,1.0
1184,2016-12-31,84,NaN,NaN,NaN,NaN,630,B,NaN,1.0
787,2016-08-31,87,NaN,NaN,NaN,NaN,578,C,NaN,1.0
887,2016-09-30,87,NaN,NaN,NaN,NaN,578,C,NaN,1.0
987,2016-10-31,87,NaN,NaN,NaN,NaN,578,C,NaN,1.0
1087,2016-11-30,87,NaN,NaN,NaN,NaN,578,C,NaN,1.0
1187,2016-12-31,87,NaN,NaN,NaN,NaN,578,C,NaN,1.0
688,2016-07-31,88,NaN,NaN,NaN,NaN,112,B,NaN,1.0
788,2016-08-31,88,NaN,NaN,NaN,NaN,112,B,NaN,1.0
888,2016-09-30,88,NaN,NaN,NaN,NaN,112,B,NaN,1.0
988,2016-10-31,88,NaN,NaN,NaN,NaN,112,B,NaN,1.0
1088,2016-11-30,88,NaN,NaN,NaN,NaN,112,B,NaN,1.0
1188,2016-12-31,88,NaN,NaN,NaN,NaN,112,B,NaN,1.0
1189,2016-12-31,89,NaN,NaN,NaN,NaN,815,A,NaN,1.0
1192,2016-12-31,92,NaN,NaN,NaN,NaN,908,A,NaN,1.0
893,2016-09-30,93,NaN,NaN,NaN,NaN,235,A,NaN,1.0
993,2016-10-31,93,NaN,NaN,NaN,NaN,235,A,NaN,1.0
1093,2016-11-30,93,NaN,NaN,NaN,NaN,235,A,NaN,1.0
1193,2016-12-31,93,NaN,NaN,NaN,NaN,235,A,NaN,1.0
1095,2016-11-30,95,NaN,NaN,NaN,NaN,599,D,NaN,1.0
1195,2016-12-31,95,NaN,NaN,NaN,NaN,599,D,NaN,1.0
998,2016-10-31,98,NaN,NaN,NaN,NaN,145,A,NaN,1.0
1098,2016-11-30,98,NaN,NaN,NaN,NaN,145,A,NaN,1.0
1198,2016-12-31,98,NaN,NaN,NaN,NaN,145,A,NaN,1.0

### Kostas's dataset

In [8]:
# load dataset from .csv
final_df_Kostas = pd.read_csv('SDS_Challenge1_Kostas/ArtificialDataset_Kostas.csv')

In [9]:
display(final_df_Kostas.dtypes)
display(final_df_Kostas.describe())
print('\nNaN STATISTICS')
display(final_df_Kostas.isna().sum())
q_str = 'CompanyID == 10003 | CompanyID == 10051 | CompanyID == 10048 | CompanyID == 10058 | CompanyID == 69'
display(final_df_Kostas.query(q_str).sort_values(['CompanyID', 'Date']))

Date                  object
CompanyID              int64
Revenue              float64
Expenses             float64
Profit               float64
LossFlag             float64
Employees              int64
Region                object
BusinessValuation    float64
ClosedFlag             int64
dtype: object

,CompanyID,Revenue,Expenses,Profit,LossFlag,Employees,BusinessValuation,ClosedFlag
count,1200.000000,1188.000000,1186.000000,1186.000000,1188.000000,1200.0000,1200.000000,1200.000000
mean,10050.500000,508061.042500,254536.657209,253928.404005,0.250842,53.4500,16238.437983,0.040000
std,28.878105,287652.995762,145610.374722,317992.817868,0.433680,28.2438,22070.384017,0.196041
min,10001.000000,525.090000,863.450000,-452175.030000,0.000000,11.0000,-40385.250000,0.000000
25%,10025.750000,259395.557500,130017.430000,4939.967500,0.000000,25.5000,98.570000,0.000000
50%,10050.500000,507714.425000,259312.990000,256093.260000,0.000000,55.0000,14738.095000,0.000000
75%,10075.250000,759357.145000,381523.950000,498739.397500,1.000000,78.0000,29780.445000,0.000000
max,10100.000000,999428.740000,499749.540000,986409.560000,1.000000,100.0000,94774.630000,1.000000

NaN STATISTICS

Date                  0
CompanyID             0
Revenue              12
Expenses             14
Profit               14
LossFlag             12
Employees             0
Region                0
BusinessValuation     0
ClosedFlag            0
dtype: int64

,Date,CompanyID,Revenue,Expenses,Profit,LossFlag,Employees,Region,BusinessValuation,ClosedFlag
24,01/01/2016,10003,921729.69,327986.99,593742.70,0.0,30,A,56136.28,0
25,01/02/2016,10003,191115.44,359192.77,-168077.33,1.0,30,A,-8534.32,0
26,01/03/2016,10003,630893.35,148237.84,482655.51,0.0,30,A,46943.67,0
27,01/04/2016,10003,213723.49,464595.23,-250871.74,1.0,30,A,-11606.15,0
28,01/05/2016,10003,480110.56,95787.27,384323.29,0.0,30,A,14124.70,0
29,01/06/2016,10003,153774.76,490957.24,-337182.48,1.0,30,A,-16510.47,0
30,01/07/2016,10003,430075.41,466998.42,-36923.01,1.0,30,A,-1764.69,0
31,01/08/2016,10003,49414.50,336558.26,-287143.76,1.0,30,A,-18890.31,0
32,01/09/2016,10003,994640.34,67338.99,927301.35,0.0,30,A,75625.04,0
33,01/10/2016,10003,802608.70,249069.86,553538.84,0.0,30,A,25136.17,0
34,01/11/2016,10003,NaN,NaN,NaN,1.0,30,A,-16607.34,0
35,01/12/2016,10003,510921.91,189845.64,321076.27,0.0,30,A,19120.29,0
564,01/01/2016,10048,NaN,368942.86,176147.71,0.0,55,A,10692.43,0
565,01/02/2016,10048,397128.43,246849.01,150279.42,0.0,55,A,4837.38,0
566,01/03/2016,10048,138840.94,216462.68,-77621.74,1.0,55,A,-5220.65,0
567,01/04/2016,10048,701876.47,196722.79,505153.68,0.0,55,A,15620.61,0
568,01/05/2016,10048,486336.89,497884.34,-11547.45,1.0,55,A,-416.42,0
569,01/06/2016,10048,563342.66,480862.17,82480.49,0.0,55,A,6793.41,0
570,01/07/2016,10048,524340.67,204092.18,320248.49,0.0,55,A,28783.45,0
571,01/08/2016,10048,541540.54,355593.56,185946.98,0.0,55,A,15662.41,0
572,01/09/2016,10048,113401.23,463216.23,-349815.00,1.0,55,A,-29906.45,0
573,01/10/2016,10048,570653.33,19389.88,551263.45,0.0,55,A,46278.90,0
574,01/11/2016,10048,237904.94,259570.16,-21665.22,1.0,55,A,-1185.96,0
575,01/12/2016,10048,962895.19,464081.49,498813.70,0.0,55,A,20745.41,0
600,01/01/2016,10051,162571.64,425140.12,-262568.48,1.0,35,E,-11533.05,0
601,01/02/2016,10051,697475.65,362670.36,334805.29,0.0,35,E,24135.16,0
602,01/03/2016,10051,876789.32,477608.79,399180.53,0.0,35,E,21493.42,0
603,01/04/2016,10051,938779.29,416253.22,522526.07,0.0,35,E,26490.78,0
604,01/05/2016,10051,591247.97,NaN,507875.63,0.0,35,E,28861.27,0
605,01/06/2016,10051,453617.25,482663.08,-29045.83,1.0,35,E,-2233.37,0
606,01/07/2016,10051,52284.08,319368.43,-267084.35,1.0,35,E,-23716.53,0
607,01/08/2016,10051,189733.51,224996.41,-35262.90,1.0,35,E,-3136.89,0
608,01/09/2016,10051,38407.36,90090.52,-51683.16,1.0,35,E,-3238.49,0
609,01/10/2016,10051,347797.41,385194.21,-37396.80,1.0,35,E,-1434.90,0
610,01/11/2016,10051,338731.06,489682.31,-150951.25,1.0,35,E,-6222.54,0
611,01/12/2016,10051,80358.15,326238.16,-245880.01,1.0,35,E,-15555.40,0
684,01/01/2016,10058,76540.48,423358.70,-346818.22,1.0,80,E,-23301.55,0
685,01/02/2016,10058,239489.61,490586.72,-251097.11,1.0,80,E,-20210.91,0
686,01/03/2016,10058,567450.84,273522.46,293928.38,0.0,80,E,19918.85,0
687,01/04/2016,10058,159508.62,276587.48,-117078.86,1.0,80,E,-10403.37,0
688,01/05/2016,10058,843298.23,28997.07,814301.16,0.0,80,E,70676.03,0
689,01/06/2016,10058,932667.36,211118.85,721548.51,0.0,80,E,39207.46,0
690,01/07/2016,10058,197411.47,208929.14,-11517.67,1.0,80,E,-704.53,0
691,01/08/2016,10058,397128.43,416163.52,-19035.09,1.0,80,E,-1738.05,0
692,01/09/2016,10058,374978.18,420559.98,-45581.80,1.0,80,E,-2920.45,0
693,01/10/2016,10058,326807.34,491680.14,-164872.80,1.0,80,E,-10092.18,0
694,01/11/2016,10058,80883.37,442224.62,-361341.25,1.0,80,E,-30993.24,0
695,01/12/2016,10058,670171.96,123954.30,546217.66,0.0,80,E,49247.53,0

In [10]:
# Checking closed flag
display(final_df_Kostas[final_df_Kostas.ClosedFlag == 1].sort_values(['CompanyID', 'Date']))

,Date,CompanyID,Revenue,Expenses,Profit,LossFlag,Employees,Region,BusinessValuation,ClosedFlag
180,01/01/2016,10016,16891.46,136848.42,-119956.96,1.0,80,A,-8818.71,1
181,01/02/2016,10016,48908.48,320638.83,-271730.35,1.0,80,A,-25331.91,1
182,01/03/2016,10016,329879.13,161070.94,168808.19,0.0,80,A,10287.25,1
183,01/04/2016,10016,799321.99,239355.00,559966.99,0.0,80,A,45729.01,1
184,01/05/2016,10016,448185.59,396747.99,51437.60,0.0,80,A,4498.13,1
185,01/06/2016,10016,965253.12,11687.08,953566.04,0.0,80,A,55830.98,1
186,01/07/2016,10016,186737.70,226062.70,-39325.00,1.0,80,A,-2963.75,1
187,01/08/2016,10016,773611.85,201049.34,572562.51,0.0,80,A,24497.88,1
188,01/09/2016,10016,120609.44,70977.13,49632.31,0.0,80,A,2807.97,1
189,01/10/2016,10016,180986.42,73930.20,107056.22,0.0,80,A,4786.69,1
190,01/11/2016,10016,183856.16,328437.51,-144581.35,1.0,80,A,-7530.44,1
191,01/12/2016,10016,911907.52,163628.16,748279.36,0.0,80,A,54953.38,1
192,01/01/2016,10017,658254.31,25060.27,633194.04,0.0,11,D,31335.82,1
193,01/02/2016,10017,79830.53,1018.41,78812.12,0.0,11,D,5462.36,1
194,01/03/2016,10017,511234.89,34143.56,477091.33,0.0,11,D,41788.74,1
195,01/04/2016,10017,187882.48,101999.09,85883.39,0.0,11,D,6823.50,1
196,01/05/2016,10017,139708.82,126750.58,12958.24,0.0,11,D,560.75,1
197,01/06/2016,10017,758417.39,138694.43,619722.96,0.0,11,D,41211.69,1
198,01/07/2016,10017,486713.87,399357.88,87355.99,0.0,11,D,7536.68,1
199,01/08/2016,10017,104071.07,344360.87,-240289.80,1.0,11,D,-18306.69,1
200,01/09/2016,10017,515043.53,122270.03,392773.50,0.0,11,D,33209.21,1
201,01/10/2016,10017,259516.29,357751.72,-98235.43,1.0,11,D,-6651.06,1
202,01/11/2016,10017,856509.27,489361.29,367147.98,0.0,11,D,20171.44,1
203,01/12/2016,10017,517806.35,314718.51,203087.84,0.0,11,D,9879.64,1
276,01/01/2016,10024,79466.31,415790.09,-336323.78,1.0,78,C,-16653.71,1
277,01/02/2016,10024,918783.91,389816.06,528967.85,0.0,78,C,17587.04,1
278,01/03/2016,10024,341402.87,380077.36,-38674.49,1.0,78,C,-1497.23,1
279,01/04/2016,10024,611459.26,356763.55,254695.71,0.0,78,C,16408.87,1
280,01/05/2016,10024,73943.03,106647.89,-32704.86,1.0,78,C,-1708.15,1
281,01/06/2016,10024,395408.82,259346.60,136062.22,0.0,78,C,12078.87,1
282,01/07/2016,10024,424403.13,467874.27,-43471.14,1.0,78,C,-3646.13,1
283,01/08/2016,10024,607381.54,18915.90,588465.64,0.0,78,C,36358.97,1
284,01/09/2016,10024,515043.53,119367.31,395676.22,0.0,78,C,36303.29,1
285,01/10/2016,10024,659645.69,51086.22,608559.47,0.0,78,C,31389.78,1
286,01/11/2016,10024,128862.53,377094.56,-248232.03,1.0,78,C,-7589.96,1
287,01/12/2016,10024,454314.44,93021.45,361292.99,0.0,78,C,30503.79,1
468,01/01/2016,10040,552876.71,169685.87,383190.84,0.0,87,B,22118.73,1
469,01/02/2016,10040,753712.91,374001.50,379711.41,0.0,87,B,32290.34,1
470,01/03/2016,10040,517949.32,447055.96,70893.36,0.0,87,B,6019.80,1
471,01/04/2016,10040,252035.95,64425.65,187610.30,0.0,87,B,14682.31,1
472,01/05/2016,10040,160246.92,288625.22,-128378.30,1.0,87,B,-9470.35,1
473,01/06/2016,10040,358503.90,18254.28,340249.62,0.0,87,B,17784.49,1
474,01/07/2016,10040,49626.08,82591.17,-32965.09,1.0,87,B,-2855.95,1
475,01/08/2016,10040,202434.51,369148.21,-166713.70,1.0,87,B,-6190.41,1
476,01/09/2016,10040,250435.86,340006.63,-89570.77,1.0,87,B,-8318.12,1
477,01/10/2016,10040,177988.83,382607.36,-204618.53,1.0,87,B,-7825.56,1
478,01/11/2016,10040,461545.60,372544.57,89001.03,0.0,87,B,3232.03,1
479,01/12/2016,10040,367469.27,373609.17,-6139.90,1.0,87,B,-398.20,1